#user_show
	
	.user_box

		= image_tag @user.image_url(:thumb).to_s, class: "user_image"
		.profile
			.username
				= @user.username
			.account_name
				= '@' + @user.account_name
			.bio
				= @user.bio