#homes
  .title
    %h1
      Yakicame
  .text
    %strong つぶヤキカメらの略です。instagramとtwitterの中間的存在です。

  .links
    .row-fluid
      .span2
      .span4
        .sign_in
          .link
            %a 
              = link_to "sign in", user_session_path, :style=>"color:black; font-size:70px; font-weight:bold; box-shadow:0px 0px 30px green; border:1px solid white; border-radius: 50px; padding: 5px 80px; text-decoration: none; }"
      .span1
      .span4
        .sign_up
          .link  
            %a
              = link_to "sign up", new_user_registration_path, :style=>"color:black; font-size:70px; font-weight:bold; box-shadow:0px 0px 30px blue; border:1px solid white; border-radius: 50px; padding: 5px 80px; text-decoration: none;"
      .span1
