#homes
  .title
    %h1
      Yakicame
   
    .row-fluid
      .span1
      .span3
        .sign_in
          .link
            = link_to "sign in", user_session_path, class: "link1"
      
      .span3
        .sign_up
          .link  
            = link_to "sign up", new_user_registration_path, class: "link2" 
      .span5
