#homes
  #myCarousel.carousel.slide.content.container
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        .image
          =image_tag("cubes.jpg")
      .item
        .image
          =image_tag("cubes.jpg")
      .item
        .image
          =image_tag("cubes.jpg")

    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", href: "#myCarousel"} ›

  .row-fluid.content.container
    .sign_in
      .link
        = link_to "sign in", user_session_path, class: "btn-primary"
    .sign_up
      .link
        = link_to "sign up", new_user_registration_path, class: "btn-success"

