// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweet_index



	#tweet
		:box-shadow 0px 0px 30px 5px rgba(0,0,0,0.2)
		:border 1px solid #ccc
		:margin-bottom 150px

		:border-radius 10px
		:width 92%
		h4

			:text-align center
			:font-size 25px
		.tweet_box
			
			.user_box
				
				.user_profile_box
					
					:border-top-right-radius 15px
					:border-top-left-radius 15px
					:padding-top 5px
					:padding-bottom 10px
					:background-color #111
					.cuser_image
						:folat left
						:border 1px solid red
						:margin-left 50px
						:height 60px
						:width 60px
						:border-radius 5px
					.user_image
						:folat left
						:border 1px solid orange
						:margin-left 50px
						:border-radius 5px
						:height 60px
						:width 60px
						
					.names
						
						:float right
						:width 75%

						:margin-top 10px
						:margin-left 20px
						:clear both
						.cuser
							strong
								:text-align center
								:width 50%
								:color white
								:float left
								:font-size 25px
								:margin-left 85px
								:text-shadow 2px 2px 10px red
						.other
							strong
								:text-align center
								:width 50%
								:color white
								:float left
								:font-size 25px
								:margin-left 85px
								:text-shadow 2px 2px 10px orange
							
						p
							
							:color #ccc
							
							:font-size 15px
							:padding-top 5px

						.username
							.user
								:padding-top 10px
								:clear both
								:border 1px solid green
								:font-size 50px
								
								:color green

						.fa_box

							:clear both
							:width 90%
							:border-top 2px solid brown
							
							.edit
								:float left
								:margin-left 105px
								:margin-right 20px
							.favorite1
								:float left 
								:margin 0px 20px
							.favorite2
								:text-align center
								:margin-right 16px

							.destroy
								:float left
								:margin 0px 20px

				.comment_box1
					:padding 25px 40px
					:margin-bottom -13px
					:background-color #fefdb7
					
						
						
					
					.comment
						:font-size 15px
						:width 80%
						:padding-bottom 10px
						:margin-left 120px
						:padding-right 10px
						:word-wrap break-word
					.image
						:padding-left 120px
						:text-align center
				.comment_box2
					:padding 25px 40px
					:margin-bottom -13px
					:background-color white
					
					.comment
						:font-size 15px
						:width 80%
						:padding-bottom 10px
						:padding-left 120px
						:padding-right 10px
						:word-wrap break-word
					.image
						:padding-left 120px
						:text-align center
	#form
		:background-color #111
		:box-shadow 0px 0px 30px 5px rgba(0,0,0,0.2)
		:width 30%
		:position fixed
		:border 1px solid #ccc
		:border-radius 15px
		.profile
			:clear both
			:padding-bottom 10px
			:height 70px
			:width 90%
			:margin 10px

			.cuser_image
				:float left
				:margin 10px
				:border 1px solid red 
				:height 80px
				:width 80px
				:border-radius 15px
			.cuser_box
				:float left
				.cusername
					:color white
					
					:text-shadow 2px 2px 40px red
					:text-align center
					:font-size 38px
					:margin-top 20px
					:padding-bottom 5px
					


					
				.user_at
					:color #ccc
					:margin 18px 40px
					:font-size 17px

					
		.list

			:clear both
			:border-top 1px solid #ccc
			:border-bottom 1px solid #ccc
			th
				:text-align center
				:border-left 1px solid #ccc
				:background-color #eee
			td
				:text-align center
				:background-color #eee
				:border-left 1px solid #ccc
		.form_box
			:background-color white
			:padding-top 10px
			:height 100%
			:border 0px solid red
			:border-bottom-right-radius 15px
			:border-bottom-left-radius 15px
			:clear both
			.field
				:margin 0px 20px
				.image
					

					:margin 9px 15px
				.text_area
					:width 95%
			.actions
				:margin 0px 30px
				


				.btn-primary
					:height 40px
					:border 1px solid black
					:width 100%
					:border-radius 10px			
					:font-size 20px		
	
